body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
/* ****************************************** */
/* customizing Boostrap styles for task cards */
.alert {
  padding: 0 0 6px 0;
  margin: 0 0 6px 0;
}

.alert-danger {
  border: solid 2px var(--past-due);
}

.alert-danger header {
  background-color: var(--past-due);
}

.alert-warning {
  border: solid 2px var(--due-today);
}

.alert-warning header {
  background-color: var(--due-today);
}
.alert-info {
  border: solid 2px var(--due-in-future);
}

.alert-info header {
  background-color: var(--due-in-future);
}
